/*Assignment 02 CSS FILE*/

 /* Background colour of web page */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero styles*/
.hero img {
  width: 300px;
  margin: auto;
  align-items: center;
}

.hero h2 {
  text-align: center;
  color: rgb(155, 111, 197);
}

.hero p {
  padding: 2 rem; 
  margin: 0 rem;
  border: 5 rem;
  text-align: center;
}
