/*Assignment 02 CSS FILE*/

 /* Background colour of web page */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BODY SYTLES (each section) */

section.hero {
  color: rgb(34, 33, 35);
  background-color: rgb(238, 238, 238);
}

/*Main Logo*/
section.image1 {
  width: 350px;
  padding: 0;
  margin: 0 auto;
  border: 0px;
  text-align: center;
}

/*aliens*/
section.alien {
  width: 300px
}

/*bunnies*/
section.bunnies {
  width: 300px;
}


 /* HERO SECTION STYLES */
 main section.hero {
  padding: 8rem 1rem 1rem 1rem;
  background-color: rgb(229, 25, 209);
  border-radius: 1rem;
}

main section.hero h1 {
  padding: 0 3rem;
  font-weight: 700;
  font-size: 5rem;
  letter-spacing: 0.3rem;
  text-align: center;
}

main section.hero .secondary-heading {
  padding: 4rem 5rem;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.3rem;
  text-align: center;
}

main section.hero img {
  border-radius: 1rem;
  width: 100%;
  max-width: 100%;
  height: 40rem;
  object-fit: cover;
  object-position: center center;
}